body{
    font-family: TTlakes;
}

header{
    margin: 0px;
    display: flex;
}

header img {
    width: 50px;
    height: auto;
}

.CPS-logo{
    width: 100px;
    height: auto;
}

main{
    overflow: scroll;
}

img{
    width: 100%;
    height: auto;
}

.services{
    display: inline-block;
    background-color: #F8F8F8;
}

@media(max-width: 430px){
    .grid-box{
        grid-template-columns: 1fr;
    }
}

@media(min-width: 431px) and (max-width: 1120px){
    .grid-box{
        grid-template-columns: 
        repeat(2, 1fr);
        width: 100%;
    }
}

