body {
    font-family: TTlakes;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header__container-logo {
    width: 100px;
    height: auto;
}

.header__container-buttons {
    width: 50px;
}

.header__container-divider {
    width: 2px;
}

main {
    overflow: scroll;
}

img {
    width: 100%;
    height: auto;
}

.services {
    display: block;
    background-color: #F8F8F8;
}

.services__tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
    scrollbar-width: none;
}

.services__tabs-tab {
    flex-shrink: 0;
    padding: 10px 20px;
}

.services__tabs-tab-active {
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #B8FFEC;
    background-color: white;
    padding: 10px 20px;
}


@media(max-width: 430px) {}

@media(min-width: 431px) {
    .services-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .services__body {
        width: 50%;
    }

    .services__image {
        width: 50%;
    }
}