body{

}

header{
    margin: 0px;
    display: flex;
}

main{
    overflow: scroll;
}

img{
    width: 100%;
    height: auto;
}


.article__prices-block{
    display: inline;
}

@media(max-width: 430px){
    .grid-box{
        grid-template-columns: 1fr;
    }
}

@media(min-width: 431px) and (max-width: 1120px){
    .grid-box{
        grid-template-columns: 
        repeat(2, 1fr);
        width: 100%;
    }
}

